body{
  background-color: #ecf0f1;
}

.App {
  text-align: center;
  padding-top:100px;
}

button{
  border:none;
  padding:12px 20px;
  border-radius: 4px;
  color:#fff;
  cursor: pointer;
  display: inline-block;
  margin-bottom:20px;
}
